
    /*CLEARFIX*/
    html {
       box-sizing: border-box;
    }

    *, *:before, *:after {
       box-sizing: inherit;
    }

    /*BODY*/
    body {
	   font-family: 'Comfortaa', cursive, sans-serif;
	   width: 1260px;
	   margin: auto;
	   background-color: #d3d3d3;
     overflow-x: hidden;
    }

	a {
	   text-decoration: none;
	   color: #90bba6;
	}

	/*HEADER*/
	header {
		display: flex;
		background-color: #fff;
	}

	#logo {
        clear: left;
	}

  #logo img.tab {
    display: none;
  }

	nav {
		display: flex;
		width: 100%;
	}

	nav a {
		line-height: 170px;
		flex: 1;
		font-size: 20px;
		text-align: center;
	}

	nav a:hover {
		 text-shadow: 0px 0px 4px #A8B5AE;
		 font-size: 23px;
	}

  #menu-icon {
  	display: none;
    color: #90bba6;
  }

   nav a .gael {
    display: none;
   }

   nav a:hover .eng {
     display: none;
   }

  nav a:hover .gael {
     display: inherit;
   }

	/* ---HOMEPAGE--- */

	/*SLIDER*/
	#slider {
		height: 500px;
    width: 1260;
    position: relative;
	}

  #slider img {
    width: 100%;
  }

  /* FADE */
    .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

	/*EVENTS*/
	#eventbar {
		display: flex;
		border-top: 10px solid #f9f9f9;
		border-bottom: 10px solid #f9f9f9;
	}

	#eventbar img {
		opacity: 0.5;
		flex: 1;
	}

  .tab {
    display: none;
  }

	#eventbar1:hover img{
	    opacity: 1;
	}

    #eventbar2:hover img{
       opacity: 1;
  }

    #eventbar3:hover img{
      opacity: 1;
  }

    #eventbar4:hover img{
      opacity: 1;
  }

    #eventbar1 {
	  position: relative;
	}

    #eventbar1 p {
	  position: absolute;
	  opacity: 1;
	  top: 50%;
    left: 50%;
	}

	 #eventbar1 p:hover {
	  opacity: 1;
	}

	/*BOTTOM*/
	#bottom {
    display: flex;
	}

	#info {
    display: flex;
		background-color: #434343;
		padding: 60px;
	}

	#info img {
		height: 120px;
		width: 120px;
	}

	#info #information {
		padding-left: 35px;
		padding-top: 20px;
		flex: 1;/
	}

	#info #information span {
		color: #90bba5;
	}

	#info #information p {
		flex: 1;
		color: #fff;
		font-size: 14px;
		line-height: 25px;
	}

	#social li {
	    line-height: 40px;
	}

	#social li a{
	   font-size: 16px;
	}

	#social li a:hover {
	  text-shadow: 0px 0px 4px #A8B5AE;
	}

    #message {
		flex: 2;
		background-color: #90bba6;
		padding: 80px;
		text-align: center;
	}

	#message h2 {
		font-size: 20px;
		color: #4A6E5C;
		padding: 5px;
	}

	#message p {
		font-size: 16px;
		color: #fff;
		text-justify: auto;
		padding-top: 20px;
	}

  #message .gael {
   display: none;
  }

  #message:hover .eng {
    display: none;
  }

  #message:hover .gael {
    display: inherit;
  }

  #message span {
    color: #4A6E5C;
  }

	/* ---ABOUT PAGE--- */

	.sections {
	    width: 100%;
	    height: auto;
	 	  background-color: #90bba5;
	}

    .sections h2 {
       padding-bottom: 10px;
       font-weight: bold;
       color: #90bba5;
       font-size: 20px;
  }

    .sections .text {
      color: #434343;
      font-size: 15px;
      flex: 1;
      background-color: #fff;
      padding: 40px;
      border-radius: 0px 15px 15px 0px;
  }

    .sections img {
      border-radius: 15px 0px 0px 15px;
  }

	/*SECTION 1*/
    #section1 {
      display: flex;
      padding: 30px;
    }

	/*SECTION 2*/
    #section2 {
    display: flex;
    padding: 30px;
    flex-direction: row;
  }

  #section2 .text {
    border-radius: 15px 0px 0px 15px;
  }

  #section2 img {
    order: 2;
    border-radius: 0px 15px 15px 0px;
  }

	/*SECTION 3*/
  #section3 {
    display: flex;
    padding: 30px;
  }


	/* ---EVENTS PAGE--- */

  .events {
	    width: 100%;
	    height: auto;
	 	  background-color: #90bba5;
	}

  .head {
    font-size: 15px;
    width: 200px;
    padding: 20px;
    background-image: url("");
  }

  .head p {
    background-color: #90bba5;
    padding: 10px;
  }

  .events h2 {
    color: #4A6E5C;
    font-size: 17px;
    line-height: 40px;
    font-weight: bold;
  }

  .events h3 {
    padding-bottom: 10px;
    font-weight: bold;
    color: #90bba5;
    font-size: 20px;
  }

  .events .text {
    color: #434343;
    font-size: 15px;
    flex: 1;
    background-color: #fff;
    padding: 40px;
    /* border-radius: 0px 15px 15px 0px; */
  }

	/*UPCOMING EVENTS*/
    #upcomingevents {
      display: flex;
      padding: 30px;
    }

	/*PAST EVENTS*/
    #pastevents {
    display: flex;
    padding: 30px;
    flex-direction: row;
  }


	/* ---MENU PAGE---*/

	/* ---CONTACT PAGE--- */

  #contactcontainer {
    display: flex;
    justify-content: center;
  }

	/*CONTACT INFO*/
	#contactinfo {
    flex: 1;
    height: 500px;
		background-image: url("../images/contactbk.png");
    justify-content: center;
	}

  #contactinfo h3, #contactinfo p {
    display: inline;
  }

  #contactinfo h3 {
    font-weight: bold;
  }

    /*CONTACT FORM*/
	#contactform {
    flex: 1;
    height: 500px;
		background-color: #fff;
	}

  #contactform h2 {
    font-size: 20px;
    color: #90bba5;
  }

    /*MAP*/
	#map {
     flex: 1;
     height: 500px;
     background-color: #fff;
   }

   #map iframe {
   width: 100%;
   height: 500px;
    }

	/*FOOTER*/
	footer {
		height: 34px;
		background-color: #fff;
		font-size: 10px;
		line-height: 34px;
		color: #90bba5;
	}

	footer p {
		margin-left: 10px;
	}


		  /* FOR TABLETS */
   @media screen and (max-width: 640px) {

       body {
        max-width: 640px;
        margin: 0;
      }

      nav {
        display: inline;
        width: 100%;
        height: 50px;
        z-index: 1;
      }

      #menu-icon {
        display:inline-block;
        margin-left: 85%;
        margin-top: 20px;
        font-size: 25px;
      }

    	nav a {
        background-color: #fff;
        font-size: 15px;
    		display: none;
    		margin-left: 60%;
        padding-top: 30px;
        padding: 20px;
    		width: 30%;
        text-align: center;
        line-height: 15px;
    	}

      nav a:last-of-type {
    		border-radius: 0 0 20px 20px;
      }

      nav:hover a{
        display: block;
        font-size: 20px;
      }

      nav:hover #menu-icon{
        display: none;
      }

      #logo img.lap {
        display: none;
      }

       #logo img.tab {
        display: flex;
        z-index: 4;
      }

      #slider {
	   width: 100%;
     height: auto;
	  }

      #eventbar {
	    display: flex;
      flex-wrap: wrap;
	  }

    .tab {
      display: none;
      line-height: 30px;
      background-color: #fff;
      font-size: 28px;
      padding: 5px 0px 5px 10px;

    }

    #eventbar1, #eventbar2, #eventbar3, #eventbar4 {
      width: 50%;
    }

    #eventbar img {
      width: 100%;
    }

	    #bottom {
		  display: block;
      height: 100%;
	  }

     #bottom p, #bottom a, #bottom h2 {
       font-size: 18px;
     }

  /* --- ABOUT PAGE--- */

  .sections .text {
    border-radius: 15px 15px 15px 15px;
  }

  .sections img {
    display: none;
  }

/* --- EVENTS PAGE--- */

  .head {
    background-image: none;
    width: 100%;
   }

   .head li {
     display: none;
   }

   .events .text {
     font-size: 14px;
     padding: 20px;
   }

   .events h2 {
     display: block;
     font-size: 30px;
     width: 100%;
     line-height: 30px;
     text-align: center;
   }

   .events {
     margin: auto;
     height: 370px;
   }

   #upcomingevents, #pastevents {
     display: block;
     height: 100%;
   }

   /*---CONTACT PAGE---*/

   #contactcontainer {
     flex-direction: column;
   }

#contactinfo, #contactform, #map {
  width: 100%;
}

   }
