
    /*CLEARFIX*/
    html {
       box-sizing: border-box;
    }

    *, *:before, *:after {
       box-sizing: inherit;
    }

    /*BODY*/
    body {
	   font-family: 'Comfortaa', cursive, sans-serif;
	   width: 1260px;
	   margin: auto;
	   background-color: #d3d3d3;
    }

	a {
	   text-decoration: none;
	   color: #90af9d;
	}

	/*HEADER*/
	header {
		display: flex;
		background-color: #f9f9f9;
	}

	#logo {
        clear: left;
	}

	nav {
		display: flex;
		width: 100%;
	}

	nav a {
		line-height: 170px;
		flex: 1;
		font-size: 20px;
		text-align: center;
	}

	nav a:hover {
		 text-shadow: 0px 0px 4px #A8B5AE;
		 font-size: 23px;
	}

	/* ---HOMEPAGE--- */

	/*SLIDER*/
	#slider {
		height: 305px;
	}

	/*EVENTS*/
	#eventbar {
		display: flex;
		border-top: 10px solid #f9f9f9;
		border-bottom: 10px solid #f9f9f9;
	}

	#eventbar img {
		opacity: 0.5;
	}

	#eventbar1:hover img{
	    opacity: 1;
	}

  #eventbar2:hover img{
      opacity: 1;
  }

  #eventbar3:hover img{
      opacity: 1;
  }

  #eventbar4:hover img{
      opacity: 1;
  }

	/*BOTTOM*/
	#bottom {
		display: flex;
		height: 306px;
	}

	#info {
		display: flex;
		width: 560px;
		background-color: #636363;
		padding: 60px;
	}

	#info img {
		height: 120px;
		width: 120px;
	}

	#info #information {
		padding-left: 35px;
		padding-top: 20px;
		width: 400px;
		/*background-color: red;*/
	}

	#info #information span {
		color: #90af9d;
	}

	#info #information p {
		flex: 1;
		color: #fff;
		font-size: 14px;
		line-height: 25px;
	}

	#social li {
	    line-height: 40px;
	}

	#social li a{
	   font-size: 16px;
	}

	#social li a:hover {
	  text-shadow: 0px 0px 4px #A8B5AE;
	}

    #message {
		width: 700px;
		background-color: #c8d8cf;
		padding: 80px;
		text-align: center;
	}

	#message h2 {
		font-size: 20px;
		color: #90af9d;
		padding: 5px;
	}

	#message p {
		font-size: 16px;
		color: #fff;
		text-justify: auto;
		padding-top: 20px;
	}

	/* ---ABOUT PAGE--- */

	.sections {
	    width: 100%;
	    height: auto;
	 	  background-color: #dbdad8;
	}

  .sections h2 {
    padding-bottom: 10px;
    font-weight: bold;
    color: #79a08a;
    font-size: 20px;
  }

  .sections .text {
    font-size: 15px;
    flex: 1;
    background-color: #c7d7ce;
    padding: 40px;
    border-radius: 0px 15px 15px 0px;
  }

  .sections img {
    border-radius: 15px 0px 0px 15px;
  }

	/*SECTION 1*/
    #section1 {
      display: flex;
      padding: 30px;
    }

	/*SECTION 2*/
    #section2 {
    display: flex;
    padding: 30px;
    flex-direction: row;
  }

  #section2 .text {
    border-radius: 15px 0px 0px 15px;
  }

  #section2 img {
    order: 2;
    border-radius: 0px 15px 15px 0px;
  }

	/*SECTION 3*/
  #section3 {
    display: flex;
    padding: 30px;
  }


	/* ---EVENTS PAGE--- */

  .events {
	    width: 100%;
	    height: auto;
	 	  background-color: #dbdad8;
	}

  .head {
  /*  background-color: #a1afa7; */
    font-size: 15px;
    width: 200px;
    padding: 20px;
    background-image: url("../images/eventsbk.png");
  }

  .head p {
    background-color: #c7d7ce;
    padding: 10px;
  }

  .events h2 {
    font-size: 17px;
    line-height: 40px;
    font-weight: bold;
  }

  .events h3 {
    padding-bottom: 10px;
    font-weight: bold;
    color: #79a08a;
    font-size: 20px;
  }

  .events .text {
    font-size: 15px;
    flex: 1;
    background-color: #c7d7ce;
    padding: 40px;
    /* border-radius: 0px 15px 15px 0px; */
  }

	/*UPCOMING EVENTS*/
    #upcomingevents {
      display: flex;
      padding: 30px;
    }

	/*PAST EVENTS*/
    #pastevents {
    display: flex;
    padding: 30px;
    flex-direction: row;
  }


	/* ---MENU PAGE---*/

	/* ---CONTACT PAGE--- */

	/*CONTACT INFO*/
	#contactinfo {
		width: 420px;
		background-color: #d6d6d6;
	}

    /*CONTACT FORM*/
	#contactform {
		width: 420px;
		background-color: #b4b4b4;
	}

    /*MAP*/
	#map {
		width: 420px;
		background-color: #d6d6d6;
	}

	/*FOOTER*/
	footer {
		height: 34px;
		background-color: #f9f9f9;
		font-size: 10px;
		line-height: 34px;
		color: #90af9d;
	}

	footer p {
		margin-left: 10px;
	}
